<h1>Listing Entries</h1>

<table>
<%= for entry <- @entries do %>
<tr>
<td><%= render "entry.html", entry: entry %></td>
<td><%= link "View", to: Routes.entry_path(@conn, :show, entry.id) %></td>
<td><%= link "Delete", to: Routes.entry_path(@conn, :delete, entry), method: :delete, data: [confirm: "Are you sure?"]%></td>
</tr>
<% end %>
</table>